* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family= Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Paixão+One:wght@400 ;700;900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sriracha&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

header {

    width: 35%;
    height: 100vh;
    float: left;
    background-image: url(ProjetoStrataImages/bg.jpg);
    background-size: cover;
    background-position: top left;
    position: fixed;

}

.main-header img {
    border-radius: 50%;
    width: 5em;
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 22px;
    transition-property: width, border;
    transition-duration: 0.5s;
    transition-delay: 0s, 0.3s;
    transition-timing-function:
}

.main-header img:hover {
    width: 6em;
    border: 2px solid rgba(200, 183, 183, 0.869);
}

.main-header h1 {
    clear: both;
    font-size: 0.9em;
    float: right;
    margin: 20px 20px 0px 5px;
    color: rgba(200, 185, 185, 0.818);
}

.main-header strong {
    color: white;
    float: right;
}

.main-header p {
    float: right;
    margin: 360px 15px 10px 90px;
}

main {
    width: 65%;
    float: right;
    border: 2px solid blue;
    padding: 25px;
}

.main-content-section h2 {
    color: gray;
    font-size: 1em;
    margin: 15px;
    text-align: justify;
}

.main-content-section p {
    color: gray;
    font-size: 0.6em;
    text-align: justify;
    margin: 10px;
}

.main-content-section a {
    font-size: 0.6em;
    display: inline-block;
    margin-left: 10px;
    margin: 5px;
    transition-property: color, border;
    transition-duration: 0.5s;
    transition-delay: 0.4s, 0s;
}

.main-content-section a:hover {
    color: rgba(55, 181, 55, 0.776);
    border: 2px solid rgba(55, 181, 55, 0.776);
}

.button-default {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.705);
    border-bottom: 2px solid rgba(128, 128, 128, 0.679);
    border-radius: 6px;
    padding: 7px 10px;
}